<nav-bar></nav-bar>
<h1>Create new book</h1>
<form>
    <div class="form-group">
      <label for="bookName">Book name:</label>
      <input type="text" class="form-control" name="bookName" [(ngModel)]="bookName">
    </div>
    <div class="form-group">
      <label for="author">Author name:</label>
      <input type="text" class="form-control" name="author" [(ngModel)]="author">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="description">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" name="price" [(ngModel)]="price">
    </div>
    <div class="form-group">
      <label for="releaseDate">Release date:</label>
      <input type="date" class="form-control" name="releaseDate" [(ngModel)]="releaseDate">
    </div>
    <button (click)="createBook()" type="submit" class="btn btn-primary">Submit</button>
  </form>

